@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --headerColor: #2d728f;
  --headerButtonsSelected: #3b8ea5;
  --webPageBodyBackground: #f5ee9e;
  --webPageContainerBody: #f49e4c;
}

a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}
a:hover {
  color: whitesmoke;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(254 243 199);
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: var(--webPageContainerBody);
}
.selectedButton{
  background-color: var(--headerButtonsSelected);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--webPageContainerBody) ;
  }
}
